header .menu-mobile {
  display: none;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 770px) {
  header .menu-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #000;
    display: flex;
    padding: 25px 10px;
    opacity: 1;
    visibility: visible;
  }
  header .menu-mobile .logo-mobile {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  header .menu-mobile .logo-mobile a {
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
  }
  header .menu-mobile .menu-hamburguer {
    position: relative;
    right: 10px;
  }
  header .menu-mobile .menu-hamburguer i {
    color: #fff;
    font-size: 1.4em;
  }
}
